* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --grid-cols: 1;
  --grid-rows: 1;
}

#container {
  margin: auto;
  display: grid;
  width: 500px;
  height: 500px;
  grid-template-rows: repeat(var(--grid-rows), 0.2fr);
  grid-template-columns: repeat(var(--grid-cols), 0.2fr);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.grid-item {
  padding: 0.2em;
}

#reset {
  color: inherit;
  cursor: pointer;
  padding: 0.2em;
  margin-top: 1em;
  margin-left: 1em;
}
